 /* .card {
    margin-left: 100px;
    margin-right: 30px;
    width: auto;
    border-radius: 8px;
    position: relative;
    display: inline-block;
    margin-top: 300px;
    overflow: visible;
    
}
.card2 {
    display:inline-block;
padding-left: 800px; */

 .card{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(204,204,213,1) 0%, rgba(244,244,246,1) 45%, rgba(211,211,219,1) 91%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%);
 padding: 15px;
}




 body{
     border-color
   
}
  
/* .inline{
    display: inline-block;
    width: 200px;
  } */


#title {
    text-align: center;
    font-weight: bold;
   color:white;
   background-color:rgb(0, 0, 72);
   padding: 20px;
}

