
<<<<<<< HEAD
/* #dropdown-menu {
.formatting{background-color: lightgrey; padding: 5px;font-size: 40px;} */
#dropdown-menu {
}
=======

/* #dropdown-menu {
.formatting{background-color: lightgrey; padding: 5px;font-size: 40px;} */
#dropdown-menu {
.formatting{background-color: lightgrey; padding: 5px;font-size: 40px;}


>>>>>>> 393f2d595f5b2900635d8bba55ab3dabebf63135


#title {
    text-align: center;
}

<<<<<<< HEAD
.inline{
    display: inline-block;
    width: 200 px;
}
=======

#input {
    margin-top: 500px;
}

/* .sidebyside{
    display: inline-block;
} */

>>>>>>> b3d8640f5f7bca58efb7d303940f2115e89d77b6
