.card {
    margin-left: 100px;
    margin-right: 30px;
    width: auto;
    border-radius: 8px;
    position: relative;
    display: inline-block;
    margin-top: 300px;
    overflow: visible;
    
}
.card2 {
    display:inline-block;
padding-left: 800px;

}

 .card3 {
    display:inline-block;
    margin: 150px;
} 


#container{
display:inline-block;
width: 2000px;

margin:auto;
position:relative
}





#title {
    text-align: center;
}


#KineticEnergyPic{
    width: 5px;
    height: 7px
}

