
<<<<<<< HEAD
/* #dropdown-menu {
.formatting{background-color: lightgrey; padding: 5px;font-size: 40px;} */
#dropdown-menu {
}
=======

/* #dropdown-menu {
.formatting{background-color: lightgrey; padding: 5px;font-size: 40px;} */
#dropdown-menu {
.formatting{background-color: lightgrey; padding: 5px;font-size: 40px;}


>>>>>>> 393f2d595f5b2900635d8bba55ab3dabebf63135


#title {
    text-align: center;
}

.inline{
    display: inline-block;
    width: 200 px;
}
