.card {
    margin-left: 100px;
    margin-right: 30px;
    width: auto;
    border-radius: 8px;
    position: relative;
    display: inline-block;
    margin-top: 300px;
    overflow: visible;
    
}
.card2 {
    display:inline-block;
padding-left: 800px;

 .card3 {
    display:inline-block;
    margin: 150px;
} 


#container{
display:inline-block;
width: 2000px;
height: 2000px;
margin:auto;
position:relative
}


.background{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(19,173,240,1) 0%, rgba(20,189,252,1) 11%, rgba(7,157,123,1) 27%, rgba(3,151,215,1) 48%, rgba(2,123,233,1) 72%, rgba(0,212,255,1) 100%);
}
  
.inline{
    display: inline-block;
    width: 200px;
  }


#title {
    text-align: center;
    font-weight: bold;
}

<<<<<<< HEAD

#KineticEnergyPic{
    width: 5px;
    height: 7px
}

=======
>>>>>>> b2da684e61a00a641304963cc24556a558382a38
