
/* #dropdown-menu {
.formatting{background-color: lightgrey; padding: 5px;font-size: 40px;} */
#dropdown-menu {
}


#title {
    text-align: center;
}

.inline{
    display: inline-block;
    width: 200 px;
}
